@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Oswald&family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: #111111;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    align-items: center;
}
nav .logo{
    height: 100px;
}

nav .menu {
    color: #fff;
    display: flex;
    flex-direction: row;
    gap: 2rem;

}

ul {
    display: flex;
    gap: 1rem;
}

ul.active {
    left: 0;
}

ul li {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    font-size: 18px;
    margin: 1rem 0rem 2rem 2rem;
    cursor: pointer;
}

#ham-menu {
    display: none;
    background-color: #FFC800;
    color: #fff;
    padding: 5px;
    /* height: 50px; */
    cursor: pointer;
}


.launch {
    padding: 17px 45px;
    background-color: #FFC800;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: bolder;
    font-size: 18px;
    cursor: pointer;
}

.landing_page {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-top: 50px;
}

.landing_page h1 {
    font-size: 50px;
    color: #FFC800;
    margin-left: 100px;
}

.landing_page p {
    font-size: 18px;
    color: #fff;
    margin-left: 100px;
}

.landing_page img {
    margin-top: 80px;
}

.banner {
    color: #fff;
    background-color: #1C1C1C;
    height: 150px;
    width: 85%;
    margin: 50px;
    margin-left: 100px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.banner h1 {
    background-color: #1C1C1C;
    font-size: 26px;
    font-weight: lighter;
}

.section_1,
.section_2 {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.section_1 h1 {
    font-size: 32px;
    color: #fff;
}

.section_2 h1 {
    font-size: 32px;
    color: #fff;
}

.card_container {

    margin: 30px 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

}

.card {
    font-size: 24px;
    color: #fff;
    height: 110px;
    width: 350px;
    background-color: #1C1C1C;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem;
    border-radius: 10px;
}

.card img {
    background-color: #1C1C1C;
}

.card .title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card p {
    background-color: #1C1C1C;
}















/* media queries */
@media screen and (max-width: 768px) {
    .logo {
        margin-left: 70px;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    nav .menu {
        display: none;
        flex-direction: column;
    }

    #ham-menu {
        display: block;
        margin: 2rem;
        /* height: 50px; */
    }

    nav a#logo,
    #ham-menu {
        font-size: 3.2rem;
    }

    nav .menu ul {
        background-color: black;
        position: fixed;
        left: -100vw;
        top: 73.6px;
        width: 100vw;
        height: calc(100vh - 73.6px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: 1s;
        gap: 0;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    .landing_page h1, .landing_page p{
        margin-left: 50px;
    }

    .banner {
        margin-left: 50px;
        flex-direction: column;
    }

    .launch {
        padding: 15px 30px;
        /* visibility: hidden; */
    }

    .card_container {
        grid-template-columns: repeat(1, 1fr);
    }


}
@media only screen and (max-width: 625px) {
    .logo{
        height: 70px;
    }
}

@media only screen and (max-width: 575px) {
    html {
        font-size: 46.87%;
    }
    .logo{
        margin-left: 40px;
    }

    nav .menu ul {
        top: 65.18px;
        height: calc(100vh - 65.18px);
    }
    #ham-menu{
        margin: 2rem;
    }
    .people{
        height: 300px;
    }
}
@media only screen and (max-width:500px) {
    .logo{
        margin-left: 30px;
    }
    .landing_page h1, .landing_page p{
        margin-left: 30px;
    }
    .banner{
        margin-left: 20px;
        padding: 10px;
    }
}
@media only screen and (max-width:425px) {
    .logo{
        margin-left: 20px;
    }

}